.poke-index {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
}

.pokemon-card {
    margin: 0.5rem;
    padding: 1rem;

    background-color: var(--green-background);
    color: var(--light-font-color);
    border-radius: 0.85rem;
    border-style: none;

    display: flex;
    flex-direction: column;
}

.pokemon-card .id {
    color: var(--dark-font-color);
    opacity: 30%;
    text-align: right;

    font-size: 0.625rem;
}

.pokemon-card .name {
    margin-bottom: 0;
}

.pokemon-card .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon-card .detail .types {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon-card .detail .types .type {
    background-color: var(--light-details-background);
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;

    font-size: 0.625rem;
}

.pokemon-card .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

}
